<app-tutorial *ngIf="!seen_tutorial" (doneViewing)="onCompletedTutorial()"></app-tutorial>
<app-stats *ngIf="display_stats" (doneViewing)="onCloseStats()"></app-stats>

<app-header (overlay)="handleOverlay($event)"></app-header>

<div class="game-column">
    <div class="game-board">
        <div class="game-rows-holder">
            <app-game-row *ngFor="let row of rows" [row]=row></app-game-row>
        </div>
    </div>
    <app-keyboard #keyboardholder></app-keyboard>
</div>

<app-cookie-accept *ngIf="!decidedOnCookies" (decision)="cookieDecision($event)"></app-cookie-accept>

<app-message [message]="displayMessage" *ngIf="displayMessage != ''"></app-message>